* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-size: 1.5rem;
    font-weight: bold;

}

.header {
    background: rgba(255, 218, 185, 0.532);
    backdrop-filter: blur(6px);
    position: fixed;
    z-index: 1000;
    top: -1px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

}

.container {
    margin: 58px 0 23px 0;
    padding: 20px;
}

footer {
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background: rgba(255, 218, 185, 0.532);
    backdrop-filter: blur(6px);
    text-align: center;
}

/* MODAL */
.new-book {
    padding: 10px;
    background-color: rgb(83, 176, 252);
    color: white;
    border-color: white;
    border-radius: 20px;
}

.modal {
    background-color: transparent;
    width: 340px;
    padding: 10px;
    margin: auto;
    border: none;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
}

.modal-form {
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 2px black solid;
}

.modal-form>h1 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

input {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.1rem;
}

#read-instruction {
    font-size: 0.8rem;
}

.form-buttons {
    margin: auto;
    width: 150px;
}

.submit {
    padding: 10px;
    width: 100%;
}

.cancel,
.removeBook {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: red;
    color: white;
    border-color: white;
}

.submit {
    background-color: lightgreen;
    border-radius: 20px;
}

/* CONTAINER */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(300px, min-content);
    row-gap: 20px;
    column-gap: 20px;
}

.bookCard {
    background-color: antiquewhite;
    border-radius: 20px 50px 20px 20px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bookTitle {
    text-align: center;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 20px 50px 20px 20px;
}

.bookTitle:hover {
    overflow: visible;
    white-space: wrap;
}

.bookAuthor,
.bookPages {
    text-align: end;
    padding-right: 10px;
}

.isRead {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 20px;
}